Source: dlvhex-dlplugin
Priority: optional
Maintainer: Thomas Krennwallner <tkren@kr.tuwien.ac.at>
Build-Depends: quilt (>= 0.46-7~), debhelper (>= 7), autotools-dev,
 pkg-config, libdlvhex2-base-dev, libboost-all-dev (>= 1.43), libraptor1-dev
Standards-Version: 3.9.1
Section: libs
Homepage: http://www.kr.tuwien.ac.at/research/systems/dlvhex/

Package: dlvhex-dlplugin
Section: libs
Architecture: any
Depends: dlvhex2, ${shlibs:Depends}, ${misc:Depends}
Enhances: dlvhex2
Suggests: dlvhex2-doc
Description: dlvhex description logic plugin
 The description logic plugin for dlvhex.
