Package: dlvhex2-scriptplugin
Version: 2.0.0-1~pangolin1
Architecture: amd64
Maintainer: Thomas Krennwallner <tkren@kr.tuwien.ac.at>
Installed-Size: 170
Depends: dlvhex2, libc6 (>= 2.14), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.6)
Enhances: dlvhex2
Section: libs
Priority: optional
Homepage: http://www.kr.tuwien.ac.at/research/systems/dlvhex/
Description: dlvhex2 script plugin
 The script plugin for dlvhex2.
