#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# turn off test suite for now
export DEB_BUILD_OPTIONS=nocheck

# This has to be exported to make some magic below work.
export DH_OPTIONS

override_dh_usrlocal:

build: build-stamp
build-stamp:
	dh_testdir

	echo -e "#!/bin/sh\nexit 0" > ./RacerPro
	chmod +x ./RacerPro

	dh_auto_configure -- PATH=.:$(PATH)
	$(MAKE) all

	touch build-stamp

clean:
	dh --with quilt $@
	rm -f ./RacerPro


install:
install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	$(MAKE) install DESTDIR=`pwd`/debian/tmp

	dh_install


binary-indep: build install
	dh --with quilt $@


binary-arch: build install
	dh --with quilt $@


binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
